<div class="nav-bar">
	<div class="container">
		<a class="nav-btn pull-left" href="##">Competition</a>
		<a class="nav-btn pull-left" href="##">Result</a>
		<a class="nav-btn pull-left" href="##">Discussion</a>
		<a class="nav-btn pull-right" id="login_lst" href="##">Login<small>▼</small></a>
	</div>
	<div class="login">
		<div class="container">
			<form class="hide pull-right" id="login_form">
				Enter your credentials:
				<input id="username_txt" class="text-long"/>
				<input id="password_txt" class="text-long"/>
				<div class="btn-line">
					<a id="log_btn" class="pull-right btn" href="##">Sign up</a>
					<a id="reg_btn" class="pull-right btn" href="##">Sign in</a>
				</div>
			</form>
		</div>
	</div>
	<div class="nav-background"></div>
</div>